body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

#d_top {
    width: 100%;
    height: 10%;
    background-color: #333;
    color: white;
    font-size: 18px;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

#student_info {
    text-align: right;
}

#student_id {
    color: yellow;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Arial Black', sans-serif;
}

#student_name {
    color: lightblue;
    font-size: 16px;
}

#d_left {
    width: 10%; /* 좌측 영역 너비 */
    height: 100%;
    padding: 0px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#d_right {
    width: 90%; /* 우측 영역 너비 */
    height: 100%;
    background-color: #ddd;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left: 5px solid black; /* d_left와 d_right 사이에 선 추가 */
    width: calc(100% - 200px); /* d_left 영역을 제외한 남은 영역을 차지하도록 설정 */
    height: 56.25vw; /* 16:9 비율의 높이 설정 */
    max-height: 100vh; /* 브라우저 창의 높이를 넘지 않도록 설정 */
    max-width: calc(100% - 200px); /* d_left 영역을 제외한 남은 영역을 넘지 않도록 설정 */
    background-color: gray; /* 테스트용 배경색 */
    position: relative; /* 위치 지정 */
}

.button {
    padding: 8px;
    margin: 0;
    background-color: #eee;
    color: black;
    font-size: 16px;
    font-family: Arial, sans-serif;
    text-align: center;
    width: 100px;
    border: none;
    cursor: pointer;
}

#d_right::after {
    
    font-size: 24px;
    color: red;
    font-family: Arial, sans-serif;
    display : block;
}

.empty-screen {
    display: block;
    position: absolute; /* 상대적 위치 설정 */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* 화면 중앙 정렬 */
    display: inline-block; /* 화면에서 보이도록 설정 */
  }

.image-container {
    display: flex;
  }

  .image-container img {
    width: 900px; /* 원하는 너비로 조정 */
    height: 500px; /* 높이를 자동으로 조정하여 비율 유지 */
    margin-right: 60px; /* 이미지 오른쪽 여백 설정 */
}

  .image-container ul {
    margin: 0; /* 외부 여백 제거 */
    padding: 0; /* 내부 여백 제거 */
    clear: left;
  }
  .image-container li {
    margin-bottom: 5px; /* 각 항목의 아래 여백 설정 */
}

.button {
    font-size: 5em; /* 버튼 텍스트 크기를 5배로 키웁니다. */
    padding: 20px 40px; /* 버튼 내부 여백을 설정합니다. */
}

.button:hover {
    /* 마우스가 버튼 위에 올라갔을 때의 스타일 */
    background-color: #ddd; /* 배경색을 회색으로 변경합니다. */
    color: #333; /* 텍스트 색상을 어두운 회색으로 변경합니다. */
    cursor: pointer; /* 마우스 커서를 포인터로 변경합니다. */
}

.button:active {
    /* 버튼이 눌렸을 때의 스타일 */
    background-color: #bbb; /* 배경색을 밝은 회색으로 변경합니다. */
    color: #111; /* 텍스트 색상을 짙은 회색으로 변경합니다. */
}
